package components

templ ErrorAlert(message string) {
	<div class="bg-red-900 border border-red-700 text-red-100 px-4 py-3 rounded-lg relative" role="alert">
		<strong class="font-bold">Error!</strong>
		<span class="block sm:inline ml-2">{ message }</span>
	</div>
}